<h1>I am Sandeep Here learning Git</h1>

<a style="cursor: pointer" [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix ">
  <div class="pull-left">
    <h4 class="list-group-item-heading">Recipe Name--{{recipe.name}} </h4>
    <!--dynamicData -->
    <p class="list-group-item-text">Description--{{recipe.description}} </p>
    <!--dynamicData -->
  </div>
  <span class="pull-right">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px;">
    <!--dynamicData -->
  </span>
</a>

<p>Sandeep is learning git</p>
<p>Sandeep is learning git</p>
<p>Sandeep is learning git</p>
<p>Sandeep is learning git</p>
<p>Sandeep is learning git</p>
<p>Sandeep is learning git</p>
<p>Sandeep is learning git</p>
<p>Sandeep is learning git</p>
<p>Sandeep is learning git</p>





<p>Hello World </p>
<p>Hello World </p>
<p>Hello World </p>
<p>Hello World </p>
<p>Hello World </p>
